#divId {
    position: absolute;
    width: 109px;
    height: 109px;
    top: 25px;
    left: 20px;
    padding: 0;
    margin: 0;
    background-color: #DEDDDD;
    /*animation: rotate 200ms linear infinite;
    -webkit-animation: mymove 500ms ease infinite;
    -moz-animation: mymove 500ms ease infinite;*/
}
@keyframes isShooted {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(359deg) scale(0);
    }
}
#bodyId {
    position: relative;
    width: 76px;
    height: 76px;
    border: red 2px solid;
    border-radius: 30%;
    margin: 0;
    left: 15px;
    /*animation: mymove 1s linear infinite;
    -webkit-animation: mymove 500ms ease infinite;
    -moz-animation: mymove 500ms ease infinite;*/
}
#shootId {
    position: relative;
    width: 26px;
    height: 26px;
    border: red 2px solid;
    border-radius: 30%;
    margin: 0;
    padding: 0;
    left: 40px;
    /*animation: mymove 1s linear infinite;射速增加时添加动画*/
    /*-webkit-animation: mymove 500ms ease infinite;
    -moz-animation: mymove 500ms ease infinite;*/
}
@keyframes mymove {
    0% {
        background: red;
    }
    33% {
        background: #F3686D;
    }
    66% {
        background: #F8A1A4;
    }
    100% {
        background: #FBCFD0;
    }
}
#bloodTip {
    position: absolute;
    padding: 0;
    width: 81px;
    height: 6px;
    border: red 2px solid;
    border-radius: 15%;
    top: 5px;
    left: 34px;
}
#blood {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: red;
    width: 81px;
    height: 100%;
}

#divId2 {
    position: absolute;
    width: 109px;
    height: 109px;
    right: 20px;
    bottom: 20px;
    padding: 0;
    margin: 0;
    background-color: #DEDDDD;
    /*animation: rotate 200ms linear infinite;
    -webkit-animation: mymove 500ms ease infinite;
    -moz-animation: mymove 500ms ease infinite;*/
}
#bodyId2 {
    position: relative;
    width: 76px;
    height: 76px;
    border: black 2px solid;
    border-radius: 30%;
    margin: 0;
    left: 15px;
    /*animation: mymove2 1s linear infinite;
    -webkit-animation: mymove2 500ms ease infinite;
    -moz-animation: mymove2 500ms ease infinite;*/
}
#shootId2 {
    position: relative;
    width: 26px;
    height: 26px;
    border: black 2px solid;
    border-radius: 30%;
    margin: 0;
    padding: 0;
    left: 40px;
    /*animation: mymove2 1s linear infinite;*//*射速增加时添加动画*/
    /*-webkit-animation: mymove 500ms ease infinite;
    -moz-animation: mymove 500ms ease infinite;*/
}
@keyframes mymove2 {
    0% {
        background: black;
    }
    33% {
        background: #595959;
    }
    66% {
        background: #A6A6A6;
    }
    100% {
        background: white;
    }
}
#bloodTip2 {
    position: absolute;
    padding: 0;
    width: 81px;
    height: 6px;
    border: black 2px solid;
    border-radius: 15%;
    right: 34px;
    bottom: 140px;
}
#blood2 {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: black;
    width: 81px;
    height: 100%;
}

#wheelId1 {
    position: relative;
    overflow: hidden;
    width: 15px;
    height: 60px;
    border-radius: 40%;
    margin: 0;
    padding: 0;
    top: -70px;
    border: none;
    /*animation: wheelMove 1s linear infinite;*/
}
#wheelId2 {
    position: relative;
    overflow: hidden;
    width: 15px;
    height: 60px;
    border-radius: 40%;
    margin: 0;
    padding: 0;
    top: -130px;
    left: 95px;
    border: none;
    /*animation: wheelMove 1s linear infinite;*/
}
@keyframes wheelMove {
    0% {
        background: red;
    }
    33% {
        background: #F3686D;
    }
    66% {
        background: #F8A1A4;
    }
    100% {
        background: #FBCFD0;
    }
}

#wheelId3 {
    position: relative;
    overflow: hidden;
    width: 15px;
    height: 60px;
    border-radius: 40%;
    margin: 0;
    padding: 0;
    top: -70px;
    border: none;
    /*animation: wheelMove2 1s linear infinite;*/
}
#wheelId4 {
    position: relative;
    overflow: hidden;
    width: 15px;
    height: 60px;
    border-radius: 40%;
    margin: 0;
    padding: 0;
    top: -130px;
    left: 95px;
    border: none;
    /*animation: wheelMove2 1s linear infinite;*/
}
@keyframes wheelMove2 {
    0% {
        background: black;
    }
    33% {
        background: #595959;
    }
    66% {
        background: #A6A6A6;
    }
    100% {
        background: white;
    }
}